<header>
  <nav>

    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li class="divider"></li>
      <li><a href="#">Three</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li class="divider"></li>
      <li><a href="/about">Three</a></li>
    </ul>

    <div class="container">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo right">Fresh University</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="#!">Courses</a></li>
          <li><a href="#!">Enrolments</a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </div>

    <!-- Sidenav Structure -->
    <ul class="sidenav" id="mobile-demo">
      <li><a href="#">Courses</a></li>
      <li><a href="#">Enrolments</a></li>
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Account<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </nav>

  <% flash.each do |key, message| %>
    <div class="container" id="flash_message">
      <div class="row">
        <div class="col m12">
          <div class="card green darken-1 center-align">
            <div class="card-content white-text">
              <span><%= message %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</header>
